<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="icon" type="image/x-icon" href="./static/images/Kanvas-error.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>

    <div class="background-l1 flex setScreenSize">
        <div class="reletive-container">
            <div class="message-box">
                <div>
                    <div class="large-text">404</div>
                    <div class="medium-text">Page Not Found</div>
                    <p class="small-text">Looks Like You Missed The Train</p>
                </div>
                
            </div>
        </div>
        <div class="cutToFrame">
            <img src="./static/images/away.png" alt="Image of girl looking away">
        </div>
    </div>
    
</body>
</html>